@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-darkBg text-textMain antialiased font-sans;
    margin: 0;
    padding: 0;
  }
}